body {
  font-family: Arial, Helvetica, sans-serif;
}

.hide {	display:none }

#logo {
  position: relative;
  margin: 3px 0;
  float: right;
  width: 100px;
  right: 20px;
}

.modresult > p {
  display:block;
  padding:10px 20px;
  font-size: 20px;
  color:#fff;
  font-weight: 100;
}

.modresult > p.error {
  background-color: rgb(193, 68, 68);
}
.modresult > p.success {
  background-color:rgb(109, 183, 26);
}
.modresult span {
  font-size: 14px;
  font-weight: 100;
}

.icons {
  text-align: center;
  font-size: 20px;
 }

.icons > a:hover {
  color: #7D9E67;
 }


#cinavbar {display:block;float:left;width:100px;border-bottom: 3px solid #ccc;position: relative;}
#cinavbar > ul.cinav {display:block;padding: 0;margin: 0;}
#cinavbar > ul.cinav > li {
  display:block;
  width: 100px;
  text-align: center;
}
#cinavbar > ul.cinav > li > a {
  display:block;
  padding: 20px 0px;
  font-size: 12px;
  text-decoration: none;
  border-right:0px solid #666;
  background-color:#514B4B;
  color:#fff
}
#cinavbar > ul.cinav > li > a > i {
 margin-bottom: 5px;
 clear: both;
 display: block;
 text-align: center;
 font-size: 30px;
}

#cinavbar > ul.cinav > li > a:hover,
#cinavbar > ul.cinav > li.active > a {
	background-color: rgb(204, 64, 0);
	color: #fff;
	text-decoration: none;
}

.content_container {
  padding: 0 20px 20px 20px;
  font-size: 14px;
  font-weight: 100;
  color:#565656;
  margin-left: 100px;
}

.table-danger,.table-danger>td,.table-danger>th {
  background-color: #f5c6cb
}

.table-hover .table-danger:hover {
  background-color: #f1b0b7
}

.table-hover .table-danger:hover>td,.table-hover .table-danger:hover>th {
  background-color: #f1b0b7
}

.table-success,.table-success>td,.table-success>th {
  background-color: #c3e6cb
}

.table-hover .table-success:hover {
  background-color: #b1dfbb
}

.table-hover .table-success:hover>td,.table-hover .table-success:hover>th {
  background-color: #b1dfbb
}

.dhbs_forms {
  border: 1px solid #EAEAEA;
  padding: 20px;
  font-size: 14px;
  font-weight: 100;
  color:#565656;
  margin-left: 100px;
}
.half .dhbs_forms {margin-left:0px;margin-right:20px}

.dhbs_forms h1 {
  font-size: 36px;
  font-weight: 100;
  color: #454545 !important;
  padding: 0 0 20px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #DDD;
  display: block;
  width:100%;
  background-color:transparent;
  text-transform: Capitalize;
}
.dhbs_forms h2 {
  font-size: 22px;
  font-weight: 100;
  color: #454545 !important;
  margin-bottom: 10px;
  border-bottom: 1px solid #DDD;
  display: block;
  /* clear: both; */
  width:100%;
  background-color:transparent;
  text-transform: Capitalize;
}
.dhbs_forms p {display:block;}
.dhbs_forms .half.zemlje p {width:20%;float:left}
.dhbs_forms label {cursor:pointer;width: 210px;text-align:right;display: inline-block;padding-right: 20px;vertical-align: middle;}
.dhbs_forms .half label {cursor:pointer;width: 120px;text-align:left;/* display: block; */clear:both;vertical-align: middle;}
.dhbs_forms .half label.mini {width:10px}
.dhbs_forms .half.zemlje label {width:5px}
.dhbs_forms input[type="text"], .dhbs_forms input[type="file"], .dhbs_forms select {
  border: 1px solid #D8DEE5;
  padding: 8px;
  font-size: 14px;
  font-weight: 100;
  color: #616161;
  min-width:350px;
  outline:none;
  display:inline-block;
  margin: 0;
  background-color: #FFFFFF;
}
.dhbs_forms input.small {min-width:30px !important; width: 80px;}
.dhbs_forms .half.zemlje input.small {min-width:20px;width:20px !important}
.dhbs_forms input.medium {min-width:268px !important}
.dhbs_forms select { min-width:60px;cursor:pointer}

.dhbs_forms input[type="text"]:focus{background-color:#fafafa;border-color:#b5b5b5}
.dhbs_forms input[type="file"]:focus{background-color:#fafafa;border-color:#b5b5b5}


#ci_edit, #admin_invarea, #tools_autocache, #tools_autocachepdf {margin: 0px;border: none;}
#admin_invarea {padding:0}

/* BUTTONS */ 
.gumb, a.gumb
{
    outline: none;
    width: auto;
    background-color: #CE4216;
    color: #F0F0F0 !important;
    height: inherit;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 100 !important;
    text-decoration: none;
    text-align: center;
    border: 1px solid #CF6B0E !important;
    border-bottom: 1px solid #9B3E0A !important;
    border-radius: 0px !important;
    cursor:pointer;
}


.gumb:disabled {opacity:0.5}

.gumb i {margin-right:5px}

.gumb:hover, .gumb:focus
{
    background-color: #CE481E;
    border: 1px solid #A85304 !important;
    text-shadow: none;
    text-decoration: none !important;
    color: #fff !important;
}

a:hover.gumb:hover
{
    color: #fff !important
}
.gumb.crveni
{
    background: #CE272B;
    background: -moz-linear-gradient(top, #CE272B 0%, #A30D11 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #CE272B), color-stop(100%, #A30D11));
    background: -webkit-linear-gradient(top, #CE272B 0%, #A30D11 100%);
    background: -o-linear-gradient(top, #CE272B 0%, #A30D11 100%);
    background: -ms-linear-gradient(top, #CE272B 0%, #A30D11 100%);
    background: linear-gradient(to bottom, #CE272B 0%,#A30D11 100%);
    box-shadow: inset 0 1px 0 #F83C3C,0 1px 0 rgba(0,0,0,0.1);
    color: #fff !important;
    border: 1px solid #BB1F1F !important;
    border-bottom: 1px solid #610909 !important;
    text-shadow: 1px 1px 0px #962A2A;
    -webkit-transition: background-color 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.gumb.crveni:hover, .gumb.crveni:focus
{
    background: #941D20;
    background: -moz-linear-gradient(top, #941D20 0%, #A30D11 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #941D20), color-stop(100%, #A30D11));
    background: -webkit-linear-gradient(top, #941D20 0%, #A30D11 100%);
    background: -o-linear-gradient(top, #941D20 0%, #A30D11 100%);
    background: -ms-linear-gradient(top, #941D20 0%, #A30D11 100%);
    background: linear-gradient(to bottom, #941D20 0%,#A30D11 100%);
    box-shadow: inset 0 1px 0 #D12E2E,0 1px 0 rgba(0,0,0,0.1);
    color: #fff !important;
    border: 1px solid #8B1C1C !important;
    border-bottom: 1px solid #610909 !important;
    text-shadow: 1px 1px 0px #962A2A;
    -webkit-transition: background-color 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.gumb.zeleni
{
    background: rgb(109, 183, 26);
    box-shadow: none;
    color: #fff !important;
    border: 1px solid #71B021  !important;
    border-bottom: 1px solid #7D9E67 !important;
    text-shadow: none;
	border: 1px solid rgb(97, 171, 47) !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

.gumb.zeleni:hover, .gumb.zeleni:focus
{
    background: rgb(109, 153, 26);
    border: 1px solid #57851D  !important;
    border-bottom: 1px solid #7D9E67 !important;
}


.okrugligumb {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  border: 4px solid;
  background-color: rgb(255, 255, 255);
  font-size: 23px;
  cursor:pointer;
  display:inline-block !important;
  margin: 0 5px;
  outline:none;
  text-align: center;
  transition: all 0.25s ease-in;
  text-decoration: none !important;
}
.okrugligumb.off {
  cursor:default;
} 
.okrugligumb.zeleni {
  border: 4px solid rgb(154, 210, 110);
  color: rgb(129, 181, 71);
  
  vertical-align: middle;
}
.okrugligumb.crveni {
  border: 4px solid rgb(255, 92, 92);
  color: rgb(255, 92, 92);
}

.okrugligumb.baza:after  {
	content: "\f1c0";
	font-family:'FontAwesome';
	font-size:20px;
}
.okrugligumb.hard:after  {
	content: "\f0a0";
	font-family:'FontAwesome';
	font-size:20px;
}
.okrugligumb.xls {width:auto}
.okrugligumb.xls:after  {
	content: "\f1c3";
	font-family:'FontAwesome';
	font-size:20px;
}
.okrugligumb.edit:after  {
	content: "\f040";
	font-family:'FontAwesome';
	font-size:20px;
}
.okrugligumb.power:after  {
	content: "\f011";
	font-family:'FontAwesome';
	font-size: 19px;
	text-decoration: none !important;
	margin-top: 6px;
	display: block;
	/* margin-right: 0px; */
}
.okrugligumb.zeleni:hover, .okrugligumb.crveni.off:hover {
  border-color: rgb(255, 92, 92);
  color: rgb(255, 92, 92);
  transition: all 0.25s ease-in;
}
.okrugligumb.zeleni.ok:hover {
  border-color:rgb(154, 210, 110);  
  background-color:rgb(154, 210, 110);  
  color:#fff;
	transition: all 0.25s ease-in;
}
.okrugligumb.crveni:hover, .okrugligumb.zeleni.off:hover {
  border-color: rgb(154, 210, 110);
  color: rgb(154, 210, 110);
    transition: all 0.25s ease-in;
}
div.half.half {
  display:block;
  float:left;
  width:50%;
  margin:0;
  position: relative;
  min-width: 350px;
}
div.half:nth-child(odd) { float:left }
div.half:nth-child(even) {
  width: 50% !important;
}
div.half label {/* font-weight:700 */}
.clear {clear:both;width:100%;height:10px}    


#modaktivan {display: block;height: 40px}
#modaktivan a {text-decoration:none}
#modaktivan .okrugligumb {float:right;position: relative}